@model IEnumerable<Langcademy.Data.Models.Topic>

@foreach (var topic in Model)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">@topic.Name</h3>
        </div>
        <div class="panel-body">
            @Html.ActionLink("Details", "Details", new { id = @topic.Id })
            @topic.Description
        </div>
    </div>
}
