@Model LangTest.Models.Topic
@{
    ViewBag.Title = "Create";
    ViewBag.NumWords = 0;
}



<form id="wordForm" method="post" class="form-horizontal" style="margin:100px">
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label for="nameOfTopic">Name:</label>
        <input type="text" name="Name" class="form-control" id="nameOfTopic" required minlength =2 maxlength=200>
    </div>

    <div class="form-group">
        <label for="description">Description:</label>
        <textarea class="form-control" name="Description" rows="5" id="description" required minlength =2 maxlength=1000></textarea>
    </div>


    <div class="form-group">
        <label class="col-xs-1 control-label">Word</label>
        <div class="col-xs-4">
            <input type="text" class="form-control" name="WordsToTranslate[0].Text" placeholder="Text" required minlength =2 maxlength=200/>
        </div>
        <div class="col-xs-4">
            <input type="text" class="form-control" name="WordsToTranslate[0].Translation" placeholder="Translation" required minlength =2 maxlength=200 />
        </div>

        <div class="col-xs-1">
            <button type="button" class="btn btn-default addButton"><i class="glyphicon glyphicon-plus">Add</i></button>
        </div>
    </div>

    <!-- The template for adding new field -->
    <div class="form-group hide" id="wordTemplate">
        <div class="col-xs-4 col-xs-offset-1">
            <input type="text" class="form-control" name="Text" placeholder="Text" />
        </div>
        <div class="col-xs-4">
            <input type="text" class="form-control" name="Translation" placeholder="Translation" />
        </div>

        <div class="col-xs-1">
            <button type="button" class="btn btn-default removeButton"><i class="glyphicon glyphicon-minus">Remove</i></button>
        </div>
    </div>

    <input id="numberOfWords" type="hidden" name="NumberOfWordsToTranslate" />

    <div class="form-group">
        <div class="col-xs-5 col-xs-offset-1">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </div>
</form>


<script src="~/Scripts/jquery-2.2.0.min.js"></script>

<script>
    $(document).ready(function () {
        var titleValidators = {
            row: '.col-xs-4',   // The title is placed inside a <div class="col-xs-4"> element
            validators: {
                notEmpty: {
                    message: 'The title is required'
                }
            }
        },
            isbnValidators = {
                row: '.col-xs-4',
                validators: {
                    notEmpty: {
                        message: 'The ISBN is required'
                    },
                    isbn: {
                        message: 'The ISBN is not valid'
                    }
                }
            }
            wordIndex = 0;

        $('#wordForm')
            //.validate({
            //    framework: 'bootstrap',
            //    icon: {
            //        valid: 'glyphicon glyphicon-ok',
            //        invalid: 'glyphicon glyphicon-remove',
            //        validating: 'glyphicon glyphicon-refresh'
            //    },
            //    fields: {
            //        'word[0].title': titleValidators,
            //        'word[0].isbn': isbnValidators

            //    }
            //})

            // Add button click handler
            .on('click', '.addButton', function () {
                wordIndex++;
                $('#numberOfWords').val(wordIndex+1);
                var $template = $('#wordTemplate'),
                    $clone = $template
                                    .clone()
                                    .removeClass('hide')
                                    .removeAttr('id')
                                    
                                    .attr('data-word-index', wordIndex)
                                    .insertBefore($template);

                // Update the name attributes
                $clone
                    .find('[name="Text"]').attr('name', 'WordsToTranslate[' + wordIndex + '].Text').prop('required',true).attr('minlength',2).attr('maxlength',200).end()
                    .find('[name="Translation"]').attr('name', 'WordsToTranslate[' + wordIndex + '].Translation').prop('required', true).attr('minlength', 2).attr('maxlength', 200).end();


                // Add new fields
                // Note that we also pass the validator rules for new field as the third parameter

            })

            // Remove button click handler
            .on('click', '.removeButton', function () {
                var $row = $(this).parents('.form-group'),
                    index = $row.attr('data-word-index');
                wordIndex--;

                //$('#numberOfWords').val(wordIndex - 1);
                //$row.addClass('hidden');
                //$row.removeAttr('required');
                //$row.removeAttr('minlength');
                //$row.removeAttr('maxlength');
                // Remove fields
                //$('#wordForm')
                //    .formValidation('removeField', $row.find('[name="word[' + index + '].title"]'))
                //    .formValidation('removeField', $row.find('[name="word[' + index + '].isbn"]'))
                //    .formValidation('removeField', $row.find('[name="word[' + index + '].price"]'));

                // Remove element containing the fields
                $row.remove();
            });
    });
    console.log("Hello");


</script>
