@model IEnumerable<Langcademy.Web.ViewModels.Topics.TopicViewModel>
@{
    ViewBag.Title = "Topics";
}

<h2 class="text-center">All topics</h2>

<div class="panel">
    @using (Ajax.BeginForm("FilteredTopics", new { }, new AjaxOptions()
    {
        HttpMethod="Post",
        UpdateTargetId="topicPanel",
        InsertionMode = InsertionMode.Replace
    },new {id="ajaxForm"}
    ))
    {
        <input type="text" name="searchTerm" class="form-control" placeholder="Find topic" autocomplete="off" />

        @*<input type="submit" value="Search" />*@
    }
</div>

<div id="topicPanel" class="panel">
    @Html.Action("AllTopics")
</div>



@section scripts {
    <script>
        $(function () {
            $('[name="searchTerm"]').keyup(function () {
                $('#ajaxForm').submit()
            })
        })
    </script>
}

@*//*******************************@
