
@{
    ViewBag.Title = "Results";
    //var listWrongTranslations = (object[])TempData["wrong"];
}

<h2>Results</h2>

@if (TempData["result"] != null)
{
    <h1>
        @TempData["result"]
    </h1>
    <p>
        Time:@this.TempData["time-elapsed"]

    </p>

    <p>Time in seconds: @this.TempData["time-elapsed-seconds"] </p>

    @*if (TempData["wrong"] != null)
        {
            //var all = TempData["wrong"] as List<object>;
            foreach (var item in listWrongTranslations)
            {
                <p>@item.Text</p>
            }

        }*@
}
else
{
    <h1>There are no results :(</h1>
}




